.side{
    background-color: rgb(0, 166, 255);
    color: white;
    width: 20%vh;
    height: 100%vh;
    grid-area: 1/1/4/2;
    padding: 10px;
    font-size: 1.7rem;
}
.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100vh;
    width: 100%vh;
    background-color: rgb(254, 233, 249);
}
.header{
    background-color: white;
    grid-area: 1/1/2/5;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);

}

.search{
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 24px;
    padding: 4px 8px;
    width: fit-content;
  }
  
  .search-input {
    border: none;
    background: transparent;
    outline: none;
    padding: 8px;
    font-size: 16px;
  }
  
  .search-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: #606060;
    font-size: 18px;
  }
  