* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  padding: 0%;
  margin: -8px;
  overflow: hidden;
}
.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100vh;
  width: 100%vh;
  background-color: rgb(231, 231, 231);
}
.side {
  background-color: rgb(8, 148, 223);
  color: rgba(255, 255, 255, 0.937);
  width: 255px;
  height: 100%vh;
  grid-area: 1/1/6/2;
  font-size: 1.2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.opt li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.da {
  width: 20px;
  height: 25px;
  margin-left: -5px;
}

.opt li i {
  color: #ffffff; /* Accent color */
  font-size: 18px;
}

.header {
  background-color: white;
  grid-area: 1/1/2/7;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding-left: 280px;
  max-height: 175px;
}

.search {
  display: flex;
  align-items: center;
  width: fit-content;
}

.search-input {
    margin-right: 120px;
  padding: 4px 8px;
  border-radius: 24px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  padding: 8px;
  width: 600px;
  font-size: 16px;
}

.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #606060;
  font-size: 18px;
  cursor: pointer;
}
.profi {
  display: flex;
  height: 45px;
  margin: 15px;
}
.notif-btn {
  margin-left: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: rgb(129, 129, 129); /* or any accent color */
  padding: 8px;
}
.user {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 2fr repeat(3, 0.7fr);
}
.info {
  justify-items: left;
  margin: 0px;

}
h3 , p {
    margin: 0px;
    padding: 0px;
}
.btn {
    cursor: pointer;
  background-color: rgb(8, 148, 223);
  border-radius: 60px;
  color: white;
  height: 45px;
  width: 120px;
  font-weight: bold;
  border: none;
}
.btn:hover{
background-color: #f1c206;
transition: 0.5s;
}
/* CONTAINER AND CARDS-----------------------------------------------------*/

.container{
    grid-area: 2/2/6/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
}
.container h2{
    margin-left: 19px;
    position: absolute;
    font-size: 1.2rem;
    top:185px;
    color: #606060;
}
.project-card{
    font-size: 0.8rem;
    width: 265px;
    border-left: 7px solid #ffcc00; 
    background-color: white;
    border-radius: 6px;
    padding:25px;
    margin:15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.project-icons {
  display: flex;
  justify-content: right;
  gap: 16px;
  margin-top: 29px;
}

.project-icons i {
  font-size: 15px;
  color: #8e8c8c;
  cursor: pointer;
  transition: color 0.3s ease;
}

.project-icons i:hover {
  color: #c50208; /* or any accent color you like */
}
